<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles1.css" />
    <title>Vehicle Recognition System</title>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  </head>
  <header>

        <section class="nav">
            <!-- We can also insert any logo here     -->

            <!-- We can also insert any logo here     -->
            <div class="logo">
                <a href=""><i class="fas fa-video"></i><i class="fas fa-car-side fa-flip-horizontal"></i>Vehicle Recognition System</a>
            </div>

            <!--  checkbox to control the icon's state    -->
            <input id="menu-toggle" type="checkbox" />
            <label class='menu-button-container' for="menu-toggle">
                <div class='menu-button'></div>
              </label>

        </section>




    </header>
  <body>


<div class="Main">
    <div class="ib">
      <div class="video1">
        <img id="frame" src="{{ url_for('feed')}}" />
      </div>

    </div>
      <div class="btns">
        <a href="{{ url_for('uploader') }}"
          ><button class="btn">Stop</button></a
        >
      </div>
    <div class="ic">
      <div class="video2">
        <img id="frame2" src="{{ url_for('feed2')}}" />
      </div>
</div>
        </div>
    <script src="{{ url_for('static', filename='js/myjs.js')}}"></script>
  </body>
</html>
